h1 {
    color: white;
    margin-top: -40px;

}

body {
    background-color: black;
}

p {
    color: white
}

.whiteText {
    color: white;
}

.checkoutTrue {
    color: white;
    margin-top: 50px;
}
