.UserProfile {
  text-align: center;
}

.containerz {
  position: relative;
  min-height: 100vh;
}

.profile {
  background-color: rgba(39, 46, 46, 0.417);
}

.banner-image {
  width: 100%;
  height: 250px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  margin-bottom: 615px;
  bottom: 10%;
  left: 20px;
  border: 5px solid black;
}

.UserProfile div {
  margin-top: 20px;
}

.follow-button {
  margin-top: 60px;
  position: absolute;
  top: 27%;
  right: 20px;
  transform: translateY(-50%);
}

.follow-button button {
  margin-right: 10px;
}

.follow-button p {
  display: inline;
}
